cftime==1.0.0
cycler==0.10.0
Cython==0.28.3
GDAL==2.2.4
geos==0.2.1
h5py==2.8.0
itsdangerous==1.1.0
kiwisolver==1.0.1
lxml==4.2.5
matplotlib==2.2.2
netCDF4==1.4.0
Pillow==5.1.0
pngquant==1.0.6
pycurl==7.43.0.2
pyproj==1.9.5.1
dask==0.19.0
pyshp==1.2.12
scipy==1.1.0
Shapely==1.6.4.post2
SQLAlchemy==1.2.14
toolz==0.9.0
Werkzeug==0.14.1
-e git+https://github.com/metwork-framework/mapserverapi_python.git@f773352ab53883963186b22a8b9cb3a000555a12#egg=mapserverapi
