adm/root.mk
layers/layer*/*/build
layers/layer*/*/dist
layers/layer*/*/*.egg-info
layers/xlayer*/*/build
layers/download_archive
doc/_build
doc/utilities.md
doc/layer_*.md
/layers/layer*/*_extra_packages/src
/layers/layer*/cache
/layers/layer*/*_extra_packages/tempolayer*
/layers/layer*/*_extra_python_packages/src
/layers/layer*/*_extra_python_packages/tempolayer*
/layers/layer2_python3_circus/0500_circus/src
/layers/layer2_python3_circus/0500_circus/tempolayer*
layerapi/_layer_install_bash_cmd
layerapi/layer_list
layerapi/_field_prepend
layerapi/_field_remove
layerapi/_layer_load_bash_cmd
layerapi/_layer_unload_bash_cmd
layerapi/layer_wrapper
layerapi/plugin_wrapper
layerapi/python2_wrapper
layerapi/python3_wrapper
layerapi/python2
layerapi/pip2
layerapi/python3
layerapi/virtualenv3
layerapi/virtualenv2
layerapi/pip3
layerapi/test_layerapi
layerapi/app.info
layerapi/is_layer_loaded
layerapi/is_layer_installed
layerapi2/test_layerapi2
layerapi2/get_layer_home
layers/python2_layer.mk
layers/python3_layer.mk
layerapi/_layer_load_python2_bash_cmd
layerapi/_layer_load_python3_bash_cmd
layers/layer*/packages.md
packages.md
*.gcno
*.gcda
*.o
*.so
*.swp
layerapi/coverage
layerapi2/layer_load_bash_cmds
layerapi2/layer_unload_bash_cmds
layerapi2/is_layer_installed
layerapi2/is_layer_loaded
layerapi2/layer_wrapper
layerapi2/layers
doc/layer_*.rst
doc/layerapi2.rst
doc/*.mdtemp
doc/.ipynb_checkpoints
libffi/build
libffi/cache
glib2/build
glib2/cache
mfutil_c/build
pcre/build
pcre/cache
doc/api
doc/configure_a_metwork_package.md
doc/configure_a_metwork_package.rst
doc/configure_metwork_repo.md
doc/configure_metwork_repo.rst
doc/install_a_metwork_package.md
doc/install_a_metwork_package.rst
doc/components.md
doc/components.rst
doc/README.rst
doc/CHANGELOG*.md
doc/CHANGELOG*.rst
doc/changelogs.rst
dtreetrawl/build
layerapi2/build
doc/installation_guide.md
doc/installation_guide.rst
doc/README.md
layers/layer9_python3_misc/0100_mfutil/__pycache__/
layers/layer9_python3_misc/0100_mfutil/fastentrypoints.pyc
