adm/root.mk
layers/layer*/*/build
layers/layer*/*/dist
layers/layer*/*/*.egg-info
layers/xlayer*/*/build
layers/download_archive
/layers/layer*/*_extra_packages/src
/layers/layer*/cache
/layers/layer*/*_extra_packages/tempolayer*
/layers/layer*/*_extra_python_packages/src
/layers/layer*/*_extra_python_packages/tempolayer*
/layers/layer1_python3_core/0032_setuptools/tempolayer*
layers/layer1_python3_core/*/src/
/layers/layer2_python3_circus/0500_circus/src
/layers/layer2_python3_circus/0500_circus/tempolayer*
layerapi/_layer_install_bash_cmd
layerapi/layer_list
layerapi/_field_prepend
layerapi/_field_remove
layerapi/_layer_load_bash_cmd
layerapi/_layer_unload_bash_cmd
layerapi/layer_wrapper
layerapi/plugin_wrapper
layerapi/python3_wrapper
layerapi/python3
layerapi/virtualenv3
layerapi/pip3
layerapi/test_layerapi
layerapi/app.info
layerapi/is_layer_loaded
layerapi/is_layer_installed
layerapi2/test_layerapi2
layerapi2/get_layer_home
layers/layer1_scientific_core/0020_libgeotiff/libgeotiff.pc
layers/python3_layer.mk
layers/python3_layer_scl.mk
layerapi/_layer_load_python3_bash_cmd
layers/layer*/packages.md
packages.md
*.gcno
*.gcda
*.o
*.so
*.swp
layerapi/coverage
layerapi2/layer_load_bash_cmds
layerapi2/layer_unload_bash_cmds
layerapi2/is_layer_installed
layerapi2/is_layer_loaded
layerapi2/layer_wrapper
layerapi2/layers
libffi/build
libffi/cache
glib2/build
glib2/cache
mfutil_c/build
pcre/build
pcre/cache
dtreetrawl/build
layerapi2/build
__pycache__
_docs_build
