-e git+https://github.com/metwork-framework/opinionated_configparser.git#egg=opinionated_configparser
-e git+https://github.com/Hawker65/deploycron.git#egg=deploycron
-e git+https://github.com/metwork-framework/envtpl.git#egg=envtpl
-e git+https://github.com/thefab/pystatsd.git#egg=statsd
-e git+https://github.com/metwork-framework/mflog.git#egg=mflog
-e git+https://github.com/metwork-framework/mfutil.git#egg=mfutil
structlog
backports.functools-lru-cache
psutil
redis
requests
requests-toolbelt
six
bash
filelock
ConfigArgParse
netifaces
cachetools
inotify_simple
enum
diskcache
terminaltables
PyYAML
unidecode
