backports.functools-lru-cache==1.5
bash==0.6
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
ConfigArgParse==0.14.0
configparser==3.7.4
-e git+https://github.com/thefab/configparser_extended.git@a2b49f4249b9715370b6ab98dadc7bfa5ed022a6#egg=configparser_extended
-e git+https://github.com/Hawker65/deploycron.git@8fc7c4b8b072d7be7fb27517c9640bd1846b2ed9#egg=deploycron
diskcache==3.1.1
enum==0.4.7
-e git+https://github.com/metwork-framework/envtpl.git@af95d6ca9535ea958dcac3a79a3fd139d9f828ff#egg=envtpl
filelock==3.0.12
idna==2.8
inotify-simple==1.1.8
Jinja2==2.10.1
MarkupSafe==1.1.1
-e git+https://github.com/metwork-framework/mflog.git@53ecaa57fa3825af5566ffd7726bb2fd986eef76#egg=mflog
netifaces==0.10.9
psutil==5.6.3
PyYAML==5.1.2
redis==3.2.1
requests==2.22.0
requests-toolbelt==0.9.1
-e git+https://github.com/thefab/pystatsd.git@075001fef55d1caefdd74a55c40db84d829e7edd#egg=statsd
structlog==19.1.0
terminaltables==3.1.0
urllib3==1.25.3
Unidecode==1.1.1
