cffi==1.17.1
ConfigUpdater==3.1.1
Cython==3.0.11
fastentrypoints==0.12
pbr==6.1.0
pycparser==2.21
PyScaffold==4.5
pytest-runner==6.0.0
semantic-version==2.10.0
setuptools-git==1.2
setuptools-rust==1.7.0
tomlkit==0.12.1
