[Unit]
Description=MetWork Services

[Service]
Type=oneshot
ExecStart=/etc/rc.d/init.d/metwork start
RemainAfterExit=true
ExecStop=/etc/rc.d/init.d/metwork stop
LimitNOFILE=65536
LimitNPROC=100000

[Install]
WantedBy=multi-user.target
