#six is not required anymore for layers python3_core and python3
#but (at least) by something in layer python3_devtools (to investigate)
#and by matplotlib<=3.6.1 in addon scientific
six
#appdirs is deprecated and replaced by platformdirs
#appdirs
platformdirs
virtualenv
distro
#importlib-metadata 4.4.0 was used to build importlib.metadata in the first release of the 3.10 standard python library
#4.11.3 was merge in last release of python 3.10 and 4.13.0 for python 3.11
#upgrade if necessary... or remove ?
importlib-metadata >= 4.13.0
