setuptools==83.0.0
distlib==0.4.0
distro==1.9.0
filelock==3.29.1
importlib-metadata==8.6.1
packaging==26.2
pathspec==1.0.4
platformdirs==4.5.0
pluggy==1.6.0
pyparsing==3.2.1
python_discovery==1.4.0
six==1.17.0
typing-extensions==4.15.0
virtualenv==21.4.2
wheel==0.46.3
zipp==3.21.0
