##### BEGINNING OF METWORK {{MFMODULE}} MODULE CRONTAB #####

# Autorestart
*/5 * * * * {{MFMODULE_HOME}}/bin/cronwrap.sh --lock --random-sleep=30 --timeout=800 --log-capture-to={% raw %}{{MFMODULE_RUNTIME_HOME}}/log/autorestart.log{% endraw %} -- {{MFMODULE_LOWERCASE}}.autorestart

{% block custom %}
{% endblock %}

##### END OF METWORK {{MFMODULE}} MODULE CRONTAB #####
