{% raw %}
{% set SINK_SET = "0" %}
data_dir = "{{MFMODULE_RUNTIME_HOME}}/var/vector"
{% set SYSLOG_PORT_MFLOG = MFMODULE + "_VECTOR_MFLOG_PORT" %}
{% set SYSLOG_PORT_NGINXLOG = MFMODULE + "_VECTOR_NGINXLOG_PORT" %}
{% set LOG_MINIMAL_LEVEL_VAR = MFMODULE + "_LOG_MINIMAL_LEVEL" %}
{% endraw %}
{% if MFMODULE != "MFADMIN" %}
{% raw %}
{% set ADMIN_HOSTNAME_VAR = MFMODULE + "_ADMIN_HOSTNAME" %}
{% set ADMIN_HOSTNAME_IP_VAR = MFMODULE + "_ADMIN_HOSTNAME_IP" %}
{% set ADMIN_ELASTICSEARCH_HTTP_PORT = MFMODULE + "_ADMIN_ELASTICSEARCH_HTTP_PORT" %}
{% set ADMIN_LOKI_HTTP_PORT = MFMODULE + "_ADMIN_LOKI_HTTP_PORT" %}
{% endraw %}
{% endif %}

{% raw %}

{% if SYSLOG_PORT_NGINXLOG|getenv('0') != '0' %}
[sources.syslog_nginx]
type = "syslog"
address = "0.0.0.0:{{SYSLOG_PORT_NGINXLOG|getenv}}"
mode = "udp"

[transforms.json_nginx]
type = "remap"
inputs = ["syslog_nginx"]
drop_on_error = false
source = '''
. |= object!(parse_json(.message) ?? {})
'''

[transforms.add_json_nginx]
type = "remap"
inputs = ["json_nginx"]
source = '''
.module = "{{MFMODULE}}"
.module_version = "{{MFMODULE_VERSION}}"
.hostname = "{{MFHOSTNAME}}"
'''

[transforms.remove_json_nginx]
type = "remap" 
inputs = ["add_json_nginx"]
source = '''
del(.appname)
del(.facility)
del(.host)
del(.severity)
del(.source_ip)
del(.source_type)
'''

{% if (MFMODULE == "MFADMIN" and "MFADMIN_LAYER_LOGS_LOADED"|getenv("0") == "1") or (ADMIN_ELASTICSEARCH_HTTP_PORT|getenv('0') != '0' and ADMIN_HOSTNAME_VAR|getenv("null") != "null") %}
[sinks.elasticsearch_nginx]
type = "elasticsearch"
inputs = ["remove_json_nginx"]
api_version = "v8"
{% if MFMODULE == "MFADMIN" %}
endpoints = [ "http://127.0.0.1:{{MFADMIN_ELASTICSEARCH_HTTP_PORT}}" ]
{% else %}
endpoints = [ "http://{{ADMIN_HOSTNAME_IP_VAR|getenv}}:{{ADMIN_ELASTICSEARCH_HTTP_PORT|getenv}}" ]
{% endif %}
bulk.index = "nginx-%Y.%m.%d"
{% endif %}

{% if (MFMODULE == "MFADMIN" and "MFADMIN_LAYER_LOGS_LOKI_LOADED"|getenv("0") == "1") or (ADMIN_LOKI_HTTP_PORT|getenv('0') != '0' and ADMIN_HOSTNAME_VAR|getenv("null") != "null") %}
[sinks.loki_nginx]
type = "loki"
inputs = ["remove_json_nginx"]
{% if MFMODULE == "MFADMIN" %}
endpoint = "http://127.0.0.1:{{MFADMIN_LOKI_HTTP_PORT}}"
{% else %}
endpoint = "http://{{ADMIN_HOSTNAME_IP_VAR|getenv}}:{{ADMIN_LOKI_HTTP_PORT|getenv}}"
{% endif %}
encoding.codec = "json" 
encoding.except_fields = ["method", "status", "hostname", "module", "plugin"]
labels.source = "nginx"
labels.method =  "@@ method @@"
labels.status = "@@ status @@"
labels.hostname = "@@ hostname @@"
labels.module = "@@ module @@"
labels.plugin = "@@ plugin @@"
{% endif %}
{% endif %}

{% if SYSLOG_PORT_MFLOG|getenv('0') != '0' %}
[sources.syslog_mflog]
type = "socket"
address = "0.0.0.0:{{SYSLOG_PORT_MFLOG|getenv}}"
mode = "udp"
decoding.codec = "bytes"

[transforms.fix_mflog_json]
type = "lua" 
inputs = ["syslog_mflog"]
version = "2" 
hooks.process = '''
  function (event, emit)
    local i, j = event.log.message:find("{")
    local k, l = event.log.message:reverse():find("}")
    local length = event.log.message:len()
    event.log.message = event.log.message:sub(i, length - k + 1)
    emit(event)
  end
'''

[transforms.json_mflog]
type = "remap"
inputs = ["fix_mflog_json"]
drop_on_error = false
source = '''
. |= object!(parse_json(.message) ?? {})
'''

[transforms.add_json_mflog]
type = "remap"
inputs = ["json_mflog"]
source = '''
.module = "{{MFMODULE}}"
.module_version = "{{MFMODULE_VERSION}}"
.hostname = "{{MFHOSTNAME}}"
'''

[transforms.remove_json_mflog]
type = "remap" 
inputs = ["add_json_mflog"]
source = '''
del(.appname)
del(.facility)
del(.host)
del(.severity)
del(.source_ip)
del(.source_type)
'''

{% if (MFMODULE == "MFADMIN" and "MFADMIN_LAYER_LOGS_LOADED"|getenv("0") == "1") or (ADMIN_ELASTICSEARCH_HTTP_PORT|default('')|getenv('0') != '0' and ADMIN_HOSTNAME_VAR|default('')|getenv("null") != "null") %}
{% set SINK_SET = "1" %}
[sinks.elasticsearch_mflog]
type = "elasticsearch"
api_version = "v8"
inputs = ["remove_json_mflog"]
{% if MFMODULE == "MFADMIN" %}
endpoints = [ "http://127.0.0.1:{{MFADMIN_ELASTICSEARCH_HTTP_PORT}}" ]
{% else %}
endpoints = [ "http://{{ADMIN_HOSTNAME_IP_VAR|getenv}}:{{ADMIN_ELASTICSEARCH_HTTP_PORT|getenv}}" ]
{% endif %}
bulk.index = "mflog-%Y.%m.%d"
{% endif %}

{% if (MFMODULE == "MFADMIN" and "MFADMIN_LAYER_LOGS_LOKI_LOADED"|getenv("0") == "1") or (ADMIN_LOKI_HTTP_PORT|default('')|getenv('0') != '0' and ADMIN_HOSTNAME_VAR|default('')|getenv("null") != "null") %}
{% set SINK_SET = "1" %}
[sinks.loki_mflog]
type = "loki"
inputs = ["remove_json_mflog"]
{% if MFMODULE == "MFADMIN" %}
endpoint = "http://127.0.0.1:{{MFADMIN_LOKI_HTTP_PORT}}"
{% else %}
endpoint = "http://{{ADMIN_HOSTNAME_IP_VAR|getenv}}:{{ADMIN_LOKI_HTTP_PORT|getenv}}"
{% endif %}
encoding.codec = "json" 
encoding.except_fields = ["level", "status", "hostname", "name", "module", "plugin"]
labels.source = "mflog"
labels.level =  "@@ level @@"
labels.name = "@@ name @@"
labels.hostname = "@@ hostname @@"
labels.module = "@@ module @@"
labels.plugin = "@@ plugin @@"
{% endif %}
{% if SINK_SET == "0" %}
[sinks.blackhole]
type = "blackhole"
inputs = ["remove_json_mflog"]
{% endif %}
{% endif %}

{% endraw %}
