coverage
mock
flake8
pylint
testfixtures
isort
pydocstyle
pytest-httpserver
flake8-docstrings
pytest
werkzeug
nose
black
mkdocs
pdoc3
mkdocs-add-number-plugin
mkdocs-macros-plugin
mkdocs-awesome-pages-plugin
mkdocs-material
mkdocs-exclude
pymdown-extensions
pytest-cov
-e git+https://github.com/metwork-framework/jinja2_shell_extension#egg=jinja2_shell_extension
-e git+https://github.com/metwork-framework/jinja2_getenv_extension#egg=jinja2_getenv_extension
-e git+https://github.com/metwork-framework/jinja2_fnmatch_extension#egg=jinja2_fnmatch_extension
-e git+https://github.com/metwork-framework/jinja2_from_json_extension#egg=jinja2_from_json_extension
pytest-xdist
pytest-mock
pytes-html
freezegun
