coverage
mock
flake8
pylint
testfixtures
isort
pydocstyle
pytest-httpserver
flake8-docstrings
pytest
werkzeug
nose
black
mkdocs
pdoc3
mkdocs-add-number-plugin
mkdocs-macros-plugin
mkdocs-awesome-pages-plugin
mkdocs-material
mkdocs-exclude
pymdown-extensions
pytest-cov
pytest-xdist
pytest-mock
#py dependency should be removed when new pytest-html will be available
pytest-html
freezegun
pytest-asyncio
#nose-html-reporting is not python3 compliant
#nose-html-reporting
ipython
jmespath
pywget
sftp-py
