apipkg==1.5
astroid==2.4.1
black==19.10b0
certifi==2019.3.9
coverage==5.1
execnet==1.7.1
flake8==3.8.1
flake8-docstrings==1.5.0
freezegun==0.3.15
importlib-metadata==1.6.0
isort==4.3.21
-e git+https://github.com/metwork-framework/jinja2_fnmatch_extension@20462dde51773569e396e8912de1a892c621b2c0#egg=jinja2_fnmatch_extension
-e git+https://github.com/metwork-framework/jinja2_from_json_extension@a961f5b60188c755629cb623ea5c9fcf7de114b5#egg=jinja2_from_json_extension
-e git+https://github.com/metwork-framework/jinja2_getenv_extension@3942c077ff5a9ed49fc24c111f74c1c21fa428cc#egg=jinja2_getenv_extension
-e git+https://github.com/metwork-framework/jinja2_shell_extension@a567f015cf3f0c12f2158d8a5d670d0acd2a2b8b#egg=jinja2_shell_extension
joblib==0.15.1
lazy-object-proxy==1.4.3
livereload==2.6.1
lunr==0.5.8
Mako==1.1.2
Markdown==3.2.2
mccabe==0.6.1
mkdocs==1.1.2
mkdocs-add-number-plugin==1.2.1
mkdocs-awesome-pages-plugin==2.2.1
mkdocs-exclude==1.0.2
mkdocs-macros-plugin==0.4.9
mkdocs-material==5.2.0
mkdocs-material-extensions==1.0
mock==4.0.2
more-itertools==8.3.0
nltk==3.5
nose==1.3.7
pathspec==0.8.0
pdoc3==0.8.1
pluggy==0.13.1
py==1.8.1
pydocstyle==5.0.2
pyflakes==2.2.0
pylint==2.5.2
pymdown-extensions==7.1
pytest==5.4.2
pytest-cov==2.8.1
pytest-forked==1.1.3
pytest-httpserver==0.3.4
pytest-mock==3.1.0
pytest-xdist==1.32.0
regex==2020.5.14
snowballstemmer==2.0.0
termcolor==1.1.0
toml==0.10.1
tornado==6.0.4
typed-ast==1.4.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp==1.2.0
