coverage
mock
flake8
pylint
testfixtures
isort
#pydocstyle > 6.1.1 requires poetry to build
pydocstyle<=6.1.1
pytest-httpserver
flake8-docstrings
pytest
werkzeug
nose
black
mkdocs
pdoc3
mkdocs-add-number-plugin
mkdocs-macros-plugin
mkdocs-awesome-pages-plugin
mkdocs-material
mkdocs-exclude
pymdown-extensions
pytest-cov
pytest-xdist
pytest-mock
pytest-html
freezegun
pytest-asyncio
#nose-html-reporting is not python3 compliant
#nose-html-reporting
jmespath
#pywget is not Python 3.12 compliant because of the use of imp (deprecated in favor of importlib)
#pywget
sftp-py
pytest-json-report
bump-pydantic
pipdeptree
py-spy
filprofiler
bandit
GitPython
pyinstaller
panoply
pre-commit
tox
