arrow==0.14.2
autopep8==1.4.4
bash==0.6
binaryornot==0.4.4
cachetools==3.1.1
Cerberus==1.3.2
certifi==2019.3.9
chardet==3.0.4
Click==7.0
-e git+https://github.com/metwork-framework/cookiecutter.git@883bd169fa9252f08631a764f7264434e373463b#egg=cookiecutter
-e git+https://github.com/metwork-framework/cookiecutter_hooks.git@3e69e5bb96ff7e4185f04dd25060273316a566fa#egg=cookiecutter_hooks
-e git+https://github.com/metwork-framework/cronwrapper@caeeafaae962c9ec871b9ac04a97f086e399875e#egg=cronwrapper
-e git+https://github.com/metwork-framework/deploycron.git@45aa24bad7805336d9d99b73d848c65ca63830f9#egg=deploycron
diskcache==3.1.1
-e git+https://github.com/metwork-framework/envtpl.git@b7a86cef2667be57b530204f1b10763eb81c7643#egg=envtpl
filelock==3.0.12
future==0.17.1
gitignore-parser==0.0.5
idna==2.8
inotify-simple==1.1.8
Jinja2==2.10.1
jinja2-time==0.2.0
MarkupSafe==1.1.1
-e git+https://github.com/metwork-framework/mflog.git@27122976305e7c494a332add681819025a32ba2a#egg=mflog
-e git+https://github.com/metwork-framework/mfplugin.git@2ebfd18151ba062b8fb73518e2918a5b942af067#egg=mfplugin
-e git+https://github.com/metwork-framework/mfutil.git@76ee29016b0af7333fd2dad027374fbee8f275d8#egg=mfutil
netifaces==0.10.9
-e git+https://github.com/metwork-framework/opinionated_configparser.git@2a0349ad95d03376de97353fa59f9aba5ca3c4ad#egg=opinionated_configparser
pika==1.1.0
poyo==0.4.2
psutil==5.6.6
pycodestyle==2.5.0
pyinotify==0.9.6
pyscaffold==3.2.3
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
redis==3.2.1
requests==2.22.0
requests-unixsocket==0.2.0
simpleeval==0.9.10
-e git+https://github.com/thefab/pystatsd.git@075001fef55d1caefdd74a55c40db84d829e7edd#egg=statsd
structlog==19.1.0
-e git+https://github.com/metwork-framework/telegraf-unixsocket-python-client@d41af1a6af7c796cd835c1a98c773989cdb0897e#egg=telegraf_unixsocket_client
terminaltables==3.1.0
urllib3==1.25.3
Unidecode==1.1.1
whichcraft==0.5.2
-e git+https://github.com/metwork-framework/xattrfile.git@babff1ffa4054f905347c50f7e532f96aa40d32c#egg=xattrfile
