cron-wrapper
-e git+https://github.com/metwork-framework/deploycron.git#egg=deploycron
-e git+https://github.com/metwork-framework/envtpl.git#egg=envtpl
-e git+https://github.com/thefab/pystatsd.git#egg=statsd
-e git+https://github.com/metwork-framework/telegraf-unixsocket-python-client#egg=telegraf_unixsocket_client
-e git+https://github.com/metwork-framework/cookiecutter.git@metwork#egg=cookiecutter
-e git+https://github.com/metwork-framework/cookiecutter_hooks.git#egg=cookiecutter_hooks
-e git+https://github.com/metwork-framework/mfplugin.git#egg=mfplugin
jinja2-shell-extension
jinja2-getenv-extension
jinja2-fnmatch-extension
jinja2-from-json-extension
mflog
mfutil
opinionated-configparser
structlog
psutil
redis
requests
requests-unixsocket2
bash
netifaces
cachetools
pyinotify
inotify-simple
PyYAML
diskcache
terminaltables
autopep8
unidecode
pika
-e git+https://github.com/metwork-framework/xattrfile.git#egg=xattrfile
paramiko
-e git+https://github.com/metwork-framework/acquisition.git#egg=acquisition
-e git+https://github.com/metwork-framework/directory_observer.git#egg=directory_observer
-e git+https://github.com/metwork-framework/aiohttp_metwork_middlewares.git#egg=aiohttp_metwork_middlewares
#Common dependencies (python3_devtools and python3_scientific) below
attrs
#wrapt 1.15 doesn't work with tensorflow 1.14
wrapt<1.15
#mkdocs 1.4.1 or 1.4.2 requires Markdown < 3.4
Markdown<3.4
tqdm
joblib
Werkzeug
decorator
traitlets
cryptography
yq
hiredis
dill
regex
#termcolor is a dependency in layers python3_devtools and python3_ia
termcolor
#mypy-extensions is a dependency for both python3_devtools and python3_scientific
mypy-extensions
geojson
urllib3
bjoern
python-ldap
pydantic
gitignore-parser
threadpoolctl
fsspec
#pyasyncore for compatibility with Python3.12
pyasyncore
#transferred from python3_devtools
#questionary 2.0.1 requires prompt-toolkit<=3.0.36
prompt-toolkit<=3.0.36
wcwidth
tornado
