-e git+https://github.com/metwork-framework/acquisition.git@8205f0c2fcd323d7e36cbeecac05e74935def06c#egg=acquisition
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
-e git+https://github.com/metwork-framework/aiohttp_metwork_middlewares.git@92ddc7e83b46411676368a42768bb54c1f5bd87b#egg=aiohttp_metwork_middlewares
aiosignal==1.3.2
annotated-types==0.7.0
argcomplete==3.6.0
arrow==1.3.0
asttokens==3.0.0
attrs==25.1.0
autopep8==2.3.2
Babel==2.17.0
backcall==0.2.0
bash==0.6
bcrypt==4.3.0
beautifulsoup4==4.13.3
binaryornot==0.4.4
bjoern==3.2.2
cachetools==5.5.2
Cerberus==1.3.7
chardet==5.2.0
charset_normalizer==3.4.1
Click==8.1.8
colorama==0.4.6
commonmark==0.9.1
-e git+https://github.com/metwork-framework/cookiecutter.git@6d12c5bc04390cb019d9d01b47cb3d50e6276a9d#egg=cookiecutter
-e git+https://github.com/metwork-framework/cookiecutter_hooks.git@c9124c2b54c1c05cd83eb3d3454cc4214485c45d#egg=cookiecutter_hooks
cron-wrapper==0.1.2
cryptography==44.0.2
decorator==5.2.1
-e git+https://github.com/metwork-framework/deploycron.git@27342219bc00ce9c90b18107ec321b722b3c90bb#egg=deploycron
Deprecated==1.2.18
dill==0.3.9
-e git+https://github.com/metwork-framework/directory_observer.git@03770b7876990803cc3b271e78b3c0a2364cdf3c#egg=directory_observer
diskcache==5.6.3
entrypoints==0.4
-e git+https://github.com/metwork-framework/envtpl.git@136972101464853a57b61e485608167fe75f5f71#egg=envtpl
executing==2.2.0
frozenlist==1.5.0
fsspec==2025.3.0
geojson==3.2.0
gitignore-parser==0.1.11
hiredis==2.2.3
idna==3.10
inotify-simple==1.3.5
ipython==8.16.1
jedi==0.19.1
Jinja2==3.1.6
jinja2-from-json-extension==1.0.0
jinja2-fnmatch-extension==1.0.2
jinja2-getenv-extension==1.0.2
jinja2-shell-extension==2.1.0
jinja2-time==0.2.0
joblib==1.3.2
jsonschema==4.19.2
jsonschema_specifications==2023.11.1
lazy-import==0.2.2
lxml==5.3.0
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mflog==0.1.0
-e git+https://github.com/metwork-framework/mfplugin.git@5de463640d478622309d6949d21075c6810f1344#egg=mfplugin
mfutil==0.2.0
mockredispy==2.9.3
multidict==6.0.4
mypy-extensions==1.0.0
netifaces==0.11.0
opinionated-configparser==1.0.1
paramiko==3.4.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pika==1.3.2
Pillow==11.0.0
poyo==0.5.0
prompt-toolkit==3.0.48
propcache==0.3.0
psutil==6.1.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyasyncore==1.0.4
pycodestyle==2.12.1
pydantic==2.10.6
pydantic-core==2.27.2
Pygments==2.19.1
pyinotify==0.9.6
PyNaCl==1.5.0
python-dateutil==2.9.0.post0
python-ldap==3.4.3
pytz==2023.3.post1
PyYAML==6.0.2
redis==5.0.6
referencing==0.31.0
regex==2023.8.8
requests==2.32.3
requests-unixsocket2==0.4.0
rich==13.9.4
rpds-py==0.12.0
simpleeval==0.9.13
soupsieve==2.5
-e git+https://github.com/thefab/pystatsd.git@075001fef55d1caefdd74a55c40db84d829e7edd#egg=statsd
stack-data==0.6.3
structlog==23.1.0
-e git+https://github.com/metwork-framework/telegraf-unixsocket-python-client@d41af1a6af7c796cd835c1a98c773989cdb0897e#egg=telegraf_unixsocket_client
termcolor==2.3.0
terminaltables==3.1.10
threadpoolctl==3.2.0
tornado==6.4.2
tqdm==4.66.4
traitlets==5.9.0
types-python-dateutil==2.9.0.20241206
Unidecode==1.3.6
urllib3==2.3.0
wcwidth==0.2.8
Werkzeug==3.0.6
whichcraft==0.6.1
wrapt==1.17.0
-e git+https://github.com/metwork-framework/xattrfile.git@6df2a841127cc24775961164e9c07095e3f6007b#egg=xattrfile
xmltodict==0.13.0
yarl==1.18.3
yq==3.2.2
