arrow==0.14.2
autopep8==1.4.4
bash==0.6
binaryornot==0.4.4
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
ConfigArgParse==0.14.0
-e git+https://github.com/thefab/configparser_extended.git@a2b49f4249b9715370b6ab98dadc7bfa5ed022a6#egg=configparser_extended
-e git+https://github.com/metwork-framework/cookiecutter.git@883bd169fa9252f08631a764f7264434e373463b#egg=cookiecutter
-e git+https://github.com/metwork-framework/cookiecutter_hooks.git@794e4454eb249046e16517281445d51c28cd6482#egg=cookiecutter_hooks
-e git+https://github.com/thefab/cronwrapper.git@7338452ddd206ce622384f8235018290bdabac3c#egg=cronwrapper
-e git+https://github.com/Hawker65/deploycron.git@8fc7c4b8b072d7be7fb27517c9640bd1846b2ed9#egg=deploycron
diskcache==3.1.1
-e git+https://github.com/metwork-framework/envtpl.git@af95d6ca9535ea958dcac3a79a3fd139d9f828ff#egg=envtpl
filelock==3.0.12
future==0.17.1
idna==2.8
inotify-simple==1.1.8
Jinja2==2.10.1
jinja2-time==0.2.0
MarkupSafe==1.1.1
-e git+https://github.com/metwork-framework/mflog.git@53ecaa57fa3825af5566ffd7726bb2fd986eef76#egg=mflog
netifaces==0.10.9
poyo==0.4.2
psutil==5.6.3
pycodestyle==2.5.0
pyinotify==0.9.6
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
redis==3.2.1
requests==2.22.0
requests-toolbelt==0.9.1
-e git+https://github.com/thefab/pystatsd.git@075001fef55d1caefdd74a55c40db84d829e7edd#egg=statsd
structlog==19.1.0
-e git+https://github.com/metwork-framework/telegraf-unixsocket-python-client@d41af1a6af7c796cd835c1a98c773989cdb0897e#egg=telegraf_unixsocket_client
terminaltables==3.1.0
urllib3==1.25.3
Unidecode==1.1.1
whichcraft==0.5.2
