-e git+https://github.com/metwork-framework/opinionated_configparser.git#egg=opinionated_configparser
-e git+https://github.com/metwork-framework/cronwrapper#egg=cronwrapper
-e git+https://github.com/metwork-framework/deploycron.git#egg=deploycron
-e git+https://github.com/metwork-framework/envtpl.git#egg=envtpl
-e git+https://github.com/thefab/pystatsd.git#egg=statsd
-e git+https://github.com/metwork-framework/telegraf-unixsocket-python-client#egg=telegraf_unixsocket_client
-e git+https://github.com/metwork-framework/cookiecutter.git@metwork#egg=cookiecutter
-e git+https://github.com/metwork-framework/mflog.git#egg=mflog
-e git+https://github.com/metwork-framework/cookiecutter_hooks.git#egg=cookiecutter_hooks
-e git+https://github.com/metwork-framework/mfutil.git#egg=mfutil
-e git+https://github.com/metwork-framework/mfplugin.git#egg=mfplugin
structlog
psutil
redis
requests
requests_unixsocket
six
bash
filelock
netifaces
cachetools
ConfigUpdater
pyinotify
inotify-simple
PyYAML
diskcache
terminaltables
autopep8
unidecode
pika
-e git+https://github.com/metwork-framework/xattrfile.git#egg=xattrfile
